@model Fall2024_Assignment3_nrpucci1.Models.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Movie.Title</h1>

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.Genre
        </dd>
        <dt class="col-sm-2">
            Release Year
        </dt>
        <dd class="col-sm-10">
            @Model.Movie.YearOfRelease
        </dd>
        <dt class="col-sm-2">
            IMDB Link
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Movie.ImdbLink" target="_blank">@Model.Movie.ImdbLink</a>
        </dd>
        <dt class="col-sm-2">
            Poster
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Movie.PosterURL" alt="Movie Poster" style="width:200px;" />
        </dd>
    </dl>
</div>

<!-- Actors list -->
<h2>Actors in this Movie</h2>
<ul>
    @foreach (var actor in Model.Movie.Actors)
    {
        <li>@actor.Name</li>
    }
</ul>

<h2>Overall Sentiment: @Model.OverallSentiment</h2>

<!-- AI reviews table -->
<h2>AI-Generated Reviews</h2>
<table class="table datatables">
    <thead>
        <tr>
            <th>Review</th>
            <th>Sentiment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.Review</td>
                <td>@review.Sentiment</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x1JgEw5qPqt8KKaKj4eEmt6x9zqau5K+Qv"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
            integrity="sha384-/X41i3nsPbT4skgQV9jR6T2TfAWlQ7p+ZzQOcTLJ6+QjywJbxsvS3uZjH4VxjvAy"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('.datatables').DataTable();
        });
    </script>
}
